@import 'tailwindcss';

@font-face {
  font-family: 'Inter Tight';
  src: url('./assets/fonts/Inter_Tight.ttf')
}

:root {
  font-family: 'Inter Tight';
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
