{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "importOrder": ["^common/(.*)$", "^features/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
